<!--include header file-->
<%-include('include/_header')%> 
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/"><i class="fas fa-angle-double-left">All Tasks</i></a>
        </div>
    </div>
    <br>
    <!--form handling-->
    <%-include('include/_form')%>
</main>
<!--include footer file-->
<%-include('include/_footer')%>