<!--include header file-->
<%-include('include/_header')%> <!--_ we use mainly for parital files which will included in the other files.-->
<main id="site-main">
    <br>
    <div class="container-fluid d-flex justify-content-center">             
            <div class="container-fluid d-flex justify-content-center">
                <button class="btn btn-dark" type="button"><a href="/addtask">Add your task</a></button> 
            </div>          
    </div>
    <!--Form handling-->
    <br>
    <br>
    <br>
    <div class="container-fluid">
    <form method="POST" action="/">
        <table class="table table table-hover">
            <thead class="table-dark">
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name of the task</th>
                <th scope="col">Deadline for the task</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <%-include('include/_show')%>
            </tbody>
          </table>
    </form>
</div>
</main>
<!--include footer file-->
<%-include('include/_footer')%>