<!--include header file-->
<%-include('include/_header')%> 
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <a href="/"><i class="fas fa-angle-double-left">All Tasks</i></a>
        </div>
    </div>
    <br>
    <!--form handling-->
    <form method="put" id="update-task" class="row g-3 mx-5">
        <h1>Fill all the details of the task</h1>
            <div class="col-md-6">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" value="<%=task.name%>" name="name" required>
            </div>
            </div>
            <div class="col-md-4">
              <label for="taskname" class="form-label">Task name</label>
              <div class="input-group">
                <span class="input-group-text">#</span>
                <input type="text" class="form-control" value="<%=task.taskname%>" id="taskname" name="taskname" required>
              </div>
            </div>
            <div class="col-md-10">
              <label for="description" class="form-label">Enter the description</label>
              <textarea class="form-control" name="description" value="<%=task.description%>" rows="3" required></textarea>
            </div>
            <div class="col-md-3">
                <label for="date" class="form-label">Deadline for the task</label>
                <input type="date" class="form-control" id="date" value="<%=task.date%>" name="date" required>
              </div>
            <div class="col-md-3">
              <label for="status" class="form-label">Status of the task</label>
              <input type="text" class="form-control" id="status" value="<%=task.status%>" name="status" required>
            </div>
            <div class="col-12">
              <button class="btn btn-dark" type="submit">Submit form</button>
            </div>
    </form>
</main>
<!--include footer file-->
<%-include('include/_footer')%>