<form method="post" action="/api/tasks" id="add-task" class="row g-3 mx-5">
    <h1>Fill all the details of the new task</h1>
        <div class="col-md-6">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" id="name" value="" name="name" required>
        </div>
        </div>
        <div class="col-md-4">
          <label for="taskname" class="form-label">Task name</label>
          <div class="input-group">
            <span class="input-group-text">#</span>
            <input type="text" class="form-control" id="taskname" name="taskname" required>
          </div>
        </div>
        <div class="col-md-10">
          <label for="description" class="form-label">Enter the description</label>
          <textarea class="form-control" name="description" rows="3" required></textarea>
        </div>
        <div class="col-md-3">
            <label for="date" class="form-label">Deadline for the task</label>
            <input type="date" class="form-control" id="date" name="date" required>
          </div>
        <div class="col-md-3">
          <label for="status" class="form-label">Status of the task</label>
          <input type="text" class="form-control" id="status" name="status" required>
        </div>
        <div class="col-12">
          <button class="btn btn-dark" type="submit">Submit form</button>
        </div>
</form>