<%for(var i=0;i<tasks.length;i++){%>


<tr>
    <th scope="row"><%= i+1 %></th>
    <td><%= tasks[i].name %></td>
    <td><%= tasks[i].date %></td>
    <td><%= tasks[i].status%></td>
    <td>
        <a href="/updatetask?id=<%=tasks[i]._id%>" class="btn update">
        <span><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a href="#" class="btn delete">
            <span><i class="far fa-trash-alt"></i></span>
        </a>
    </td>
  </tr>
  <% } %>