@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
.navbar-brand{
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}
a{
    text-decoration: none;  
    color: #999b84;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
}
.head .head-btn{
    
}
.update:hover{
    color: red;
}
.delete:hover{
    color: blue;
}